@import '../../variables';

.Portfolio {
    position: relative;
    width: 100%;
    max-width: 1500px;
    min-height: calc( 100vh - #{$footer-h});
    margin: 0 7vw;
    padding-bottom: $footer-h;

    .overlay {
        position: fixed;
        top: 0;
        right:0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba($color: black, $alpha: 0.7);

        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity 600ms, visibility 600ms;
        transition: opacity 600ms, visibility 600ms;
    } .overlay.open {
        visibility: visible;
        opacity: 1;
    }
    
    .navigation {
        text-align: left;
        position: relative;
        margin-top: 50px;
        font-size: 0.8em;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid black;

        .nav.links {
            display: flex;
            a {
                margin: 0 30px 0 0;  
            }
        }
        .box {
            cursor: pointer;
            display: none;
            position: absolute;
            top: -3px;
            right: 3px;
            z-index: 5;
        }
        .hamburger {
            height: 100%;
            span {
                display:block !important;
                background-color: black;
                width: 20px;
                height: 1px;
                position:relative;
                top: 0;
                left:0;
                margin: 3px 0;
            }

            &:hover {
                span {
                    background-color: gray;
                }
            }
        }
    }
    .navigation.open {
        .hamburger {
            span {
                &:nth-child(1) {
                    transform:rotate(45deg);
                    position:absolute;
                    top: 0;
                    left: 0;
                }
                &:nth-child(2) {
                    display: none !important;
                }
                &:nth-child(3) {
                    transform:rotate(135deg);
                }
            }
        }
    }

    .collapsible {
        background-color: white;
        border-left: 1px solid black;
        display: flex;
        justify-content: center start;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
  
        font-size: 1.4em;
        min-height: 100vh;
        max-width: 0;
        min-width: 0;
        z-index: 3;
  
        transition: min-width 0.3s ease-in-out, box-shadow 0.5s;
        -webkit-transition: min-width 0.3s ease-in-out, box-shadow 0.5s;

        ul {
            list-style: none;
            min-width: 1000px;
            li {
                display: flex;
                justify-content: center start;
                align-items: center;
                margin: 10vmin 0;

                visibility: hidden;
                opacity: 0;
                transition: visibility 0s linear 300ms, opacity 100ms;
                -webkit-transition: visibility 0s linear 300ms, opacity 100ms;
            }
        }
    }.collapsible.open {
        min-width: 80%;

        ul {
            li {
                visibility: visible;
                opacity: 1;
                transition: visibility 0s linear 0s, opacity 500ms;
                -webkit-transition: visibility 0s linear 0s, opacity 500ms;
            }
        }
    }

    footer {
        font-size: 0.5em;

        p {
            margin: 0.5em 0;
            font-size: 1.3em;
            line-height: 1;
        }

        h1, h2 {
            font-weight: 400;
            margin: 0.5em 0;
            padding:0;
        }

        h2, p {
            color: gray;
        }

        .top, .bottom {
            display: flex;
            align-items: center;
        }
        
        .top {
            justify-content: space-between;

            div {
                &:nth-child(1) {
                    padding: 10px 0 10px 2vw;
                }
                &:nth-child(2) {
                    padding: 10px 2vw 10px 0;
                }
            }

            .social-info {
                a {
                    color: gray;
                    -webkit-transition: color 0.1s;
                    transition: color 0.1s;
                    i {
                        margin-top: 10px;
                        font-size: 1.5em;
                        margin-right: 10px;
                    }
                    &:hover {
                        color: black;
                    }
                }
            }

            .contact-link {
                border: 1px solid black;
                padding: 5px 0 !important;
                a {
                    padding: 0 !important;
                }
            }
        }

        .bottom {
            justify-content: center;
            a {
                color: black;

                &:hover {
                    color: gray;
                }
            }
        }
    }
}

.scroll-up {
    cursor: pointer;
    position: fixed;
    bottom: 5px;
    right: calc(6vw / 2);
    visibility: hidden;
    opacity: 0;
}.scroll-up.show {
    visibility:visible;
    opacity: 1;
}