@import 'variables';


* {
  -webkit-transition: all 0.3s ease, font-size 0s ease;
     -moz-transition: all 0.3s ease, font-size 0s ease;
      -ms-transition: all 0.3s ease, font-size 0s ease;
       -o-transition: all 0.3s ease, font-size 0s ease;
          transition: all 0.3s ease, font-size 0s ease;
  //border: 1px solid blue !important;
  //box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: $fz-xxl;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2 {
  margin: 0.5em 0;
  padding: 0;
}

.Porfolio-header, .Contact-header {
  padding: 40px 0 0 7vw;
  font-size: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 50px;
}

[class*='-links'] {
  width: 100%;
  .link {
    cursor: pointer;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 0;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
  }
  &:hover {
    background-color: rgba($color: black, $alpha: 0.1);
  }
}

.gallery {
  position: relative;
  height: auto;
  width: 85%;
  margin: auto;
  display: grid !important;
  grid-template-columns: auto auto auto;
  grid-auto-flow: row dense;
  grid-gap: 1vw;

  .image-wrapper {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;
  }

  .item {
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
}

footer {
  min-height: 150px;

  .bottom {
    a {
        color: black;
        &:hover {
            color: gray;
        }
    }
  }
}

@media screen and (max-width: 1200px) {
  .App {
    font-size: $fz-xxl;
  }

} 

@media screen and (max-width: 1024px) {
  .App {
    font-size: $fz-xl;
  }
} 

@media screen and (max-width: 900px) {
  .App {
    font-size: $fz-lg;
  }
  .gallery {
    grid-template-columns: auto auto;
  }
} 

@media screen and (max-width: 768px) {
  .App {
    font-size: $fz-md;
  }
  .gallery {
    width: 70%;
    grid-template-columns: auto;
  }
} 

@media screen and (max-width: 600px) {
  .App {
    font-size: $fz-sm;
  }

  .Porfolio-header, .Contact-header {
    justify-content: center;
    padding: 40px 0 0 0;
  }

  .Portfolio {
    .nav.links {
      display: block !important;
      min-height: 18px;
      a {
        display: none !important;
      }
    }
    .box {
      display: block !important;
    }
  }
} 

@media screen and (max-width: 480px) {
  .App {
    font-size: $fz-xs;
  }

} 

@media screen and (max-width: 300px) {
  .App {
    font-size: $fz-xxs;
  }
}